<div class="bg-dark">
    <form id="searchForm" class="row m-3">
        <div class="col-sm-8 col-md-6 mx-auto col-lg-5">
            <input type="text" id="searchInput" name="search" class="form-control" placeholder="Filter products by name"
                autocomplete="off">
        </div>
    </form>
    <div class="search-history">
        <h5>Recent Searches:</h5>
        <ul>
            <% searchHistory.slice().reverse().forEach(function(item) { %>
                <li><a href="/shop/all?search=<%= encodeURIComponent(item) %>">
                        <%= item %>
                    </a></li>
                <% }) %>
        </ul>
    </div>


    <div class="container d-flex justify-content-center gap-4 flex-wrap mb-2">
        <% products.forEach(card=> { %>
            <%- include("./partials/card.ejs", {card}) %>
                <% }) %>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <% for(let i=1; i <=totalPages; i++) { %>
                <li class="page-item"><a class="page-link" href="/shop/<%= filter %>/?page=<%= i %>">
                        <%= i %>
                    </a></li>
                <% } %>
        </ul>
    </nav>

    <script src="/js/shop.js"></script>
</div>